body{
    background-color: #E5DADA;
    color: #02040F;
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;

}


h1{
    margin-top: 0;
    background-color: #e59500;
    color:#02040F;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    background-position: 2px 13px;
    border: 3px solid #002642;
    border-style: double;
    text-align: center;
    

}

h2{
    background-color: #E5DADA;
    color: #02040F;
    font-family: Georgia;
    font-size: 25px;
    text-align: left;
    margin-top: 30px;
    background-position: 2px 10px;

}

a:link{
    font-weight: bold;
    color: #002642;
    text-decoration: none;
    
}

a:hover{
    color: #e59500;;
    font-size: 1em;
}

a:active{
    color: #02040F;
}

a:visited {
    font-weight: bold;
    color: #02040F;
    text-decoration: none;
      
}

nav {
    border-radius:40px;
    border-style: double;
    background-color: #e59500;
    color: #002642;
    width: 100%;
    padding:6px;

}

.contentimage {
    float: right;
    padding: 7px;
    margin: 0 0 20px 20px;
}